<% provide(:title, @user.name) %>
<div class="row">
  <aside>
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <p>Contact: <%= if @user.email?; @user.email; end %></p>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div>
    <%= render 'follow_form' if logged_in? %>
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <div class="text-center">
      <%= will_paginate @microposts %>
      </div>

    <% end %>
  </div>
</div>
